<div class="card overflow-hidden">
    <div class="absolute h-full w-full">
        <div class="px-6 py-4 w-screen h-full font-bold">
            <div>
                <app-toolbar-totals [expenses]="expenses()"></app-toolbar-totals>
            </div>
            <div class="pd-4 h-[calc(100%_-_140px)]">
                <p-table [columns]="expenseTableColumnsService.showColumnsSignal()" [value]="expenses()" dataKey="_id"
                    #dataTable [(selection)]="selectedExpenses" selectionMode="multiple" [scrollable]="true"
                    scrollHeight="flex">
                    <ng-template #caption class="w-auto border-t-1 border-solid">
                        <div class="flex flex-row">
                            <p-button label="Delete selected items" icon="pi pi-trash" class="ml-4" severity="danger"
                                (click)="deleteSelectedExpenses()"
                                [disabled]="!selectedExpenses || !selectedExpenses.length"></p-button>
                            <div class="flex flex-row ml-auto">
                                <p-datepicker [(ngModel)]="filterPeriod" inputId="filterPeriod" view="month"
                                    dateFormat="mm/yy" [readonlyInput]="true" (onSelect)="loadTable()" />
                                <p-iconfield class="p-input-icon-left ml-4">
                                    <p-inputicon styleClass="pi pi-search" />
                                    <input type="text" pInputText placeholder="Search"
                                        (input)="dataTable.filterGlobal($any($event.target).value, 'contains')" />
                                </p-iconfield>
                                <div>
                                    <app-toolbar-column></app-toolbar-column>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header" styleClass="p-datatable-header" let-columns>
                        <tr>
                            <th style="width: 4rem">
                                <p-tableHeaderCheckbox />
                            </th>
                            @for (col of columns; track $index) {
                            <th [pSortableColumn]="col.orderActive ? col.field : ''">
                                <div class="flex items-center">
                                    {{ col.header }}
                                    @if (col.orderActive) {
                                    <p-sortIcon [field]="col.field" pSortableColumnDisabled="false" />
                                    }
                                    @if(col.filterActive){
                                    <p-columnFilter type="text" [field]="col.field" display="menu" />
                                    }
                                </div>
                            </th>
                            }
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-index="rowIndex" let-columns="columns"
                        let-editing="editing">
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="rowData" />
                            </td>
                            @for (col of columns; track $index) {
                            @if (col.field === "type") {
                            <td class="items-center">
                                <p-select [name]="col.field" [options]="types" optionLabel="name" optionValue="code"
                                    (onChange)="updateRow(index, $event.value, col.field)"
                                    [ngModel]="rowData[col.field]" [ngModelOptions]="{standalone: true}"
                                    appendTo="body"></p-select>
                            </td>
                            }
                            @else if (col.field === "fixed") {
                            <td>
                                <p-inputSwitch inputId="isFixed" name="isFixed"
                                    (onChange)="updateRow(index, $event.checked, col.field)"
                                    [ngModel]="rowData[col.field]"
                                    [ngModelOptions]="{standalone: true}"></p-inputSwitch>
                            </td>
                            }
                            @else if (col.field === "paid") {
                            <td>
                                <p-inputSwitch inputId="isPaid" name="isPaid"
                                    (onChange)="updateRow(index, $event.checked, col.field)"
                                    [ngModel]="rowData[col.field]"
                                    [ngModelOptions]="{standalone: true}"></p-inputSwitch>
                            </td>
                            }
                            @else if (col.field === "recurrence") {
                            <td class="items-center">
                                <p-select class="w-40" name="recurrence" [options]="periodOptions" optionLabel="name"
                                    optionValue="code" (onChange)="updateRow(index, $event.value, col.field)"
                                    [ngModel]="rowData[col.field]" [ngModelOptions]="{standalone: true}"
                                    appendTo="body"></p-select>
                            </td>
                            }
                            @else if (col.field === "category") {
                            <td class="items-center">
                                <div class="w-full">
                                    <p-select class="w-40" [name]="col.field" [options]="categories[rowData.type]" optionLabel="name"
                                        optionValue="code" (onChange)="updateRow(index, $event.value, col.field)"
                                        [ngModel]="rowData[col.field]" [ngModelOptions]="{standalone: true}"
                                        appendTo="body"></p-select>
                                    <i class="pi pi-cog ml-2 cursor-pointer"
                                        (click)="categoryManagementComponent.visible= true; categoryManagementComponent.setDataManager(rowData.type)"></i>
                                </div>
                            </td>
                            }
                            @else if (col.field === "date") {
                            <td class="items-center">
                                <p-datepicker [name]="col.field" [ngModel]="rowData[col.field]" [showIcon]="true"
                                    (onSelect)="updateRow(index, $event, col.field)" [baseZIndex]="999"
                                    [ngModelOptions]="{standalone: true}" appendTo="body"></p-datepicker>
                            </td>
                            }
                            @else {
                            <td [pEditableColumn]="rowData[col.field]" pEditableColumnField="{{col.field}}">
                                <p-cellEditor>
                                    @if (col.field === "value") {
                                    <ng-template pTemplate="input">
                                        <p-inputNumber inputId="value" mode="currency" currency="BRL" locale="pt-BR"
                                            [ngModel]="rowData[col.field]" [ngModelOptions]="{standalone: true}"
                                            (onInput)="updateRow(index, $event.value, col.field)">
                                        </p-inputNumber>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{ rowData[col.field] }}
                                    </ng-template>
                                    }@else {
                                    <ng-template pTemplate="input">
                                        <input #cellValue pInputText type="text" value="{{rowData[col.field]}}"
                                            (keyup)="updateRow(index, cellValue.value, col.field)" class="max-w-72"/>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{ rowData[col.field]}}
                                    </ng-template>
                                    }
                                </p-cellEditor>
                            </td>
                            }
                            }
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td [attr.colspan]="expenseTableColumnsService.showColumnsSignal().length + 1">Nothing
                                Found.</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        @if (showModalColumnConfigService.showModalColumnConfig()) {
        <app-modal-column-edit></app-modal-column-edit>
        }
    </div>
</div>
<app-category-management></app-category-management>