<p-toolbar styleClass="mt-2 mb-2">
    <ng-template pTemplate="left">
        <div>
            <label class="mr-3">Total: {{totals().total | reais}}</label>
            <label class="mr-3">Total paid: {{totals().paid | reais}}</label>
            <label class="mr-3">Total fixed: {{totals().fixed | reais}}</label>
        </div>
    </ng-template>
    <ng-template pTemplate="right">
        <label class="mr-3">Total by {{fb.get('categorySelected')?.value}}: {{totals().category | reais}}</label>
        <form [formGroup]="fb">
            <span class="p-float-label">
                <p-dropdown [options]="categories" formControlName="categorySelected" placeholder="Select a Category"
                    (onChange)="setTotals()" optionLabel="name" optionValue="code"
                    inputId="categorySelected"></p-dropdown>
                <label for="categorySelected">Select a Category</label>
            </span>
        </form>
        <div class="flex align-items-center justify-content-between gap-2 ml-2">
            <p-button label="Charts" icon="pi pi-chart-pie"></p-button>
        </div>
    </ng-template>
</p-toolbar>