<form [formGroup]="loginForm">
    <div class="login-page">
        <div class="username">
            <label for="username">Username</label>
            <input id="username" name="username" type="text" pInputText formControlName="username"
                aria-labelledby="username" />
        </div>
        <div class="pass">
            <label for="password">Password: </label>
            <p-password id="password" name="password" [toggleMask]="true" formControlName="password"
                aria-labelledby="password" (onFocus)="validatePass()">
                <ng-template pTemplate="footer">
                    <p-divider></p-divider>
                    <p class="mt-2">Suggestions</p>
                    <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                        <li [ngStyle]="{'color': validPass().hasLowerCase ? 'green' : 'red'}">At least one lowercase
                        </li>
                        <li [ngStyle]="{'color': validPass().hasUpperCase ? 'green' : 'red'}">At least one uppercase
                        </li>
                        <li [ngStyle]="{'color': validPass().hasNumber ? 'green' : 'red'}">At least one numeric</li>
                        <li [ngStyle]="{'color': validPass().lengthIsValid ? 'green' : 'red'}">Minimum 8 characters</li>
                        <li [ngStyle]="{'color': validPass().hasSpecialChar ? 'green' : 'red'}">At least one special
                            character(&#33;&#64;&#35;&#36;&#37;&#94;&#38;&#42;)</li>
                    </ul>
                </ng-template>
            </p-password>
        </div>
        <p-button label="Login" [loading]="loading()" (onClick)="login()"></p-button>
    </div>
</form>