/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #a855f7;
    border-radius: 10px;
  }