<div class="card">
    <div class="absolute h-full w-full">
        <div class="absolute top-0 left-0 px-4 py-3 w-full h-11rem font-bold">
            <div class="w-full">
                <app-toolbar-column></app-toolbar-column>
            </div>
            <div>
                <app-toolbar-totals [expenses]="expenses()"></app-toolbar-totals>
            </div>
            <div class="pd-4 w-full">
                <p-table [columns]="expenseTableColumnsService.showColumnsSignal()" [value]="expenses()" dataKey="id"
                    styleClass="p-datatable-striped" #dataTable [(selection)]="selectedExpenses"
                    styleClass="p-datatable-sm">
                    <ng-template pTemplate="caption" class="w-auto">
                        <div class="flex">
                            <p-button label="Delete Selected Items" icon="pi pi-trash" class="p-button-danger ml-3"
                                (click)="deleteSelectedExpenses()"
                                [disabled]="!selectedExpenses || !selectedExpenses.length"></p-button>
                            <div class="ml-auto">
                                <span class="p-input-icon-left ml-3">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text"
                                        (input)="dataTable.filterGlobal($any($event.target).value, 'contains')"
                                        placeholder="Search keyword" />
                                </span>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th style="width: 4rem">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            @for (col of columns; track $index) {
                            @if (col.orderActive) {
                            <th [pSortableColumn]="col.field"> {{ col.header }} <p-sortIcon [field]="col.field"
                                    pSortableColumnDisabled="false"></p-sortIcon></th>
                            }
                            @else if (col.field != "id") {
                            <th>
                                {{ col.header }}
                            </th>
                            }
                            }
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-index="rowIndex" let-columns="columns"
                        let-editing="editing">
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                            </td>
                            @for (col of columns; track $index) {
                            @if (col.field === "type") {
                            <td class="align-items-center">
                                <p-dropdown [name]="col.field" [options]="types" optionLabel="name" optionValue="code"
                                    (onChange)="updateRow(index, $event.value, col.field)"
                                    [ngModel]="rowData[col.field]" [ngModelOptions]="{standalone: true}"
                                    appendTo="body"></p-dropdown>
                            </td>
                            }
                            @else if (col.field === "fixed") {
                            <td>
                                <p-inputSwitch inputId="isFixed" name="isFixed"
                                    (onChange)="updateRow(index, $event.checked, col.field)"
                                    [ngModel]="rowData[col.field]" [ngModelOptions]="{standalone: true}"
                                    trueValue="fixed" falseValue="notFixed"></p-inputSwitch>
                            </td>
                            }
                            @else if (col.field === "paid") {
                            <td>
                                <p-inputSwitch inputId="isPaid" name="isPaid"
                                    (onChange)="updateRow(index, $event.checked, col.field)"
                                    [ngModel]="rowData[col.field]" [ngModelOptions]="{standalone: true}"
                                    trueValue="paid" falseValue="notPaid"></p-inputSwitch>
                            </td>
                            }
                            @else if (col.field === "recurrence") {
                            <td>
                                <p-dropdown name="recurrence" [options]="periodOptions" optionLabel="name"
                                    optionValue="code" (onChange)="updateRow(index, $event.value, col.field)"
                                    [ngModel]="rowData[col.field]" [ngModelOptions]="{standalone: true}"></p-dropdown>
                            </td>
                            }
                            @else if (col.field === "category") {
                            <td class="align-items-center">
                                <p-dropdown [name]="col.field" [options]="categories[rowData.type]" optionLabel="name"
                                    optionValue="code" (onChange)="updateRow(index, $event.value, col.field)"
                                    [ngModel]="rowData[col.field]" [ngModelOptions]="{standalone: true}"
                                    appendTo="body"></p-dropdown>
                                <i class="pi pi-plus ml-2 cursor-pointer"
                                    (click)="categoryManagementComponent.visible= true; categoryManagementComponent.setDataManager(rowData.type)"></i>
                            </td>
                            }
                            @else if (col.field === "date") {
                            <td class="align-items-center">
                                <p-calendar [name]="col.field" [ngModel]="rowData[col.field]" [showIcon]="true"
                                    dateFormat="dd/mm/yy" (onSelect)="updateRow(index, $event, col.field)"
                                    [baseZIndex]="999" [ngModelOptions]="{standalone: true}"
                                    appendTo="body"></p-calendar>
                            </td>
                            }
                            @else if (col.field != "id") {
                            <td [pEditableColumn]="rowData[col.field]" pEditableColumnField="{{col.field}}">
                                <p-cellEditor>
                                    @if (col.field === "value") {
                                    <ng-template pTemplate="input">
                                        <p-inputNumber inputId="value" mode="currency" currency="BRL" locale="pt-BR"
                                            [ngModel]="rowData[col.field]" [ngModelOptions]="{standalone: true}"
                                            (onInput)="updateRow(index, $event.value, col.field)">
                                        </p-inputNumber>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{ rowData[col.field] }}
                                    </ng-template>
                                    }@else {
                                    <ng-template pTemplate="input">
                                        <input #cellValue pInputText type="text" value="{{rowData[col.field]}}"
                                            (keyup)="updateRow(index, cellValue.value, col.field)" />
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{ rowData[col.field]}}
                                    </ng-template>
                                    }
                                </p-cellEditor>
                            </td>
                            }
                            }
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="7">Nothing Found.</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        @if (showModalNewRowService.showModalNewRow()) {
        <app-modal-column-edit></app-modal-column-edit>
        }
    </div>
</div>
<app-category-management></app-category-management>