<p-toolbar styleClass="mt-2 mb-2">
    <ng-template pTemplate="left">
        @if (loadingTotals) {
        <div class="flex flex-col">
            <p-skeleton styleClass="mr-4 w-40" />
            <p-skeleton styleClass="mr-4 w-40" />
            <p-skeleton styleClass="mr-4 w-40" />
        </div>
        }@else {
        <div>
            <label class="mr-4 w-40">Total: {{totals().total | reais}}</label>
            <label class="mr-4 w-40">Total paid: {{totals().paid | reais}}</label>
            <label class="mr-4 w-40">Total fixed: {{totals().fixed | reais}}</label>
        </div>
        }
    </ng-template>
    <ng-template pTemplate="right">
        @if (loadingTotals) {
        <p-skeleton styleClass="mr-4 w-40" />
        }@else {
        <label class="mr-4">Total by {{fb.get('categorySelected')?.value}}: {{totals().category | reais}}</label>
        }
        <form [formGroup]="fb">
            <p-floatlabel class="w-full md:w-56" variant="on">
                <p-select class="w-full md:w-56" [options]="categories" formControlName="categorySelected" (onChange)="setTotals()"
                    optionLabel="name" optionValue="code" inputId="categorySelected"></p-select>
                <label for="categorySelected">Select a Category</label>
            </p-floatlabel>
        </form>
    </ng-template>
</p-toolbar>