<p-toolbar styleClass="mt-2 mb-2">
    <ng-template pTemplate="left">
        @if (loadingTotals) {
        <div class="flex flex-col">
            <p-skeleton styleClass="mr-4 w-40" />
            <p-skeleton styleClass="mr-4 w-40" />
            <p-skeleton styleClass="mr-4 w-40" />
        </div>
        }@else {
        <div>
            <label class="mr-4 w-40">Total: {{totals().total | reais}}</label>
            <label class="mr-4 w-40">Total paid: {{totals().paid | reais}}</label>
            <label class="mr-4 w-40">Total fixed: {{totals().fixed | reais}}</label>
        </div>
        }
    </ng-template>
    <ng-template pTemplate="right">
        @if (loadingTotals) {
        <p-skeleton styleClass="mr-4 w-40" />
        }@else {
        <label class="mr-4">Total by {{fb.get('categorySelected')?.value}}: {{totals().category | reais}}</label>
        }
        <form [formGroup]="fb">
            <span class="p-float-label">
                <p-dropdown [options]="categories" formControlName="categorySelected" placeholder="Select a Category"
                    (onChange)="setTotals()" optionLabel="name" optionValue="code"
                    inputId="categorySelected"></p-dropdown>
                <label for="categorySelected">Select a Category</label>
            </span>
        </form>
    </ng-template>
</p-toolbar>