<p-toast />
<form [formGroup]="fb">
    <div
        class="bg-[#3498db] text-white p-5 rounded-[10px] absolute top-1/2 left-1/2 w-[25em] h-[20em] transform -translate-x-1/2 -translate-y-1/2 flex flex-wrap flex-col items-center justify-center">
        <div class="email">
            <label for="email">Email</label>
            <input class="w-full" id="email" name="email" type="text" pInputText formControlName="email"
                aria-labelledby="email" />
        </div>
        <div class="pass">
            <label for="password">Password: </label>
            <p-password id="password" name="password" [toggleMask]="true" formControlName="password"
                aria-labelledby="password" [feedback]="false" />
        </div>
        <div class="flex items-center flex-col gap-3 pt-2">
            <p-button label="Login" [loading]="loading()" (onClick)="login()"></p-button>
            <p>Not registered yet? <a class="hover:underline" routerLink="/user/register" routerLinkActive="active"
                    ariaCurrentWhenActive="page">Register Here!</a></p>
        </div>
    </div>
</form>